@model FCAI.BL.Model.StudentVM
@inject FCAI.BL.Interface.IDepartmentRep deptRep
@{
    ViewData["Title"] = SharedLocalizer["Create"];
    ViewBag.std = "active";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Department" asp-action="Index">@SharedLocalizer["Student"]</a></li>
                    <li class="breadcrumb-item active">@SharedLocalizer["Create"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="text-danger">@ViewBag.x</div>
        <form asp-controller="Student" asp-action="Create" class="w-75 mx-auto">
            <div class="form-group">
                <label asp-for="Name">@SharedLocalizer["Name"] :</label>
                <input asp-for="Name" class="form-control" type="text" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Code">@SharedLocalizer["Code"] :</label>
                <input asp-for="Code" class="form-control" type="text" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">@SharedLocalizer["Email"] :</label>
                <input asp-for="Email" class="form-control" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeptId">@SharedLocalizer["Department"] :</label>
                <select asp-for="DeptId" class="form-control">
                    <option>@SharedLocalizer["Select Department"]</option>
                    @foreach (var item in deptRep.Get())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-success">@SharedLocalizer["Save"]</button>
                <button type="reset" class="btn btn-outline-danger">@SharedLocalizer["Cancel"]</button>
                <a asp-controller="Department" asp-action="Index" class="btn btn-outline-info">@SharedLocalizer["Back"]</a>
            </div>
        </form>
    </div>
</section>

@section Valid{
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}