@model List<FCAI.BL.Model.UserInRoleVM>
@{
    ViewData["Title"] = "AddOrRemoveUser";
    var RoleId = ViewBag.RoleId;
    ViewBag.role = "active";
}



<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Roles" asp-action="Index">@SharedLocalizer["Role"]</a></li>
                    <li class="breadcrumb-item active">@SharedLocalizer["UserInRoles"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form method="post" class="form-group">

            <div class="card-header">
                <h2>Add Or Remove User In Role</h2>
            </div>


            @for (int i = 0; i < Model.Count; i++)
            {

                <input asp-for="@Model[i].IsSelected" type="checkbox" class="filled-in">
                <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>

                <input type="hidden" asp-for="@Model[i].UserId" />
                <input type="hidden" asp-for="@Model[i].UserName" />

            }

            <div class="card-footer">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>


        </form>

        <a asp-controller="Roles" asp-action="Index">Cancle</a>
    </div>
</section>

@section Valid{
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}